.filters-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

.dangerous-filter {
    font-size: 14px;
}

.distance-unit {
    font-size: 14px;
}

.distance-unit label {
    margin-left: 10px;
}
